
.form-field-container {
    display: flex;
    flex-direction: column;
    gap:.1rem;
    margin-bottom: 1.5rem;
}

.form-field-container .main-input-container {
    display: flex;
    flex-direction: column;
    gap:.1rem;
    position: relative;
}

.form-field-container .input-text {
    border-radius: 8px;
    border: 1px solid var(--primaryDark);
    padding: .5rem;
} 

.input-icon-container {
    position: absolute;
    right: 5px;
    z-index: 5;
    bottom:5px;
}


.error-text {
    color: rgb(209, 30, 30);
}