.main-login-page-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1rem;
}

.main-login-page-container .image-container {
  display: block;
  max-height: 700px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-form-card {
  min-width: 500px;
  background: white;
  box-shadow: 12px 5px 12px 0px var(--secondaryColor);
  padding: 1rem;
}

.main-form-card:hover {
  box-shadow: 8px 8px 15px 15px var(--secondaryColor);
}

.login-form-container .main-form-card .tabs-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.login-form-container .main-form-card .tabs-container span {
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.login-form-container .main-form-card .tabs-container .active-tab {
  border-bottom: 2px solid var(--primaryContrast);
  color: var(--primaryDark);
}

.form-body-container {
  margin-top: 2rem;
}

.login-heading {
  font-weight: bold;
  color: var(--primaryDark);
  margin-top: 1.2rem;
}

.main-form-card .buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Media Queries  */    

@media screen and (max-width: 967px) {
  .main-login-page-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-form-card {
    min-width: 100%;
  }

  .login-form-container {
    display: block;
    padding: 1rem;
  }
}
