.button-container button {
    width: 100%;
    background-color: var(--primaryColor);
    padding: .5rem 0;
    color: var(--secondaryColor);
    cursor: pointer;
}

.button-container button:hover {
    background-color: var(--primaryDark);
}

.button-container button:disabled {
    background-color: #6d8dae;
    
}