.main-dashboard-container {
    padding: 0px 2rem;
    margin-top: 1rem;
}

.categories-container-wrapper {
    margin-top: 1rem;
}

.table-container {
    border: 1px solid gray;
    margin-top: 2rem;
    height: 60vh;
    border-radius: 8px;
    overflow-y: scroll;
}

.comparison-desc {
    position: relative;
}

.comparison-desc small {
    position: absolute;
    right: 0;
}