.search-bar-container {
    position: relative;
    padding-left: 40px;
    box-shadow: 12px 5px 12px 2px #f5f5f5;
    background: #f7f6f6;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;

}

.search-bar-container input {
    width: 100%;
}

.search-bar-container .search-icon {
    position: absolute;
    left: .5rem;
    height: 20px;
}